<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="musicCatalog" class="com.javatunes.service.CatalogImpl" scope="prototype" init-method="init">
		<property name="itemRepository" ref="itemRepository"/>
	</bean>
	<bean id="itemRepository" class="com.javatunes.persistence.InMemoryItemRepository"/>
	
</beans>