<component name="libraryTable">
  <library name="SpringDependencies">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../SpringDependencies" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../SpringDependencies" recursive="false" />
  </library>
</component>